@charset "utf-8";


body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: gainsboro;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkblue;
}


h2,
#titre-boutique {
    color: darkgreen;
    text-decoration: none;
    border-bottom: 2px solid darkblue;
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

#titre-boutique {
    margin-bottom: 20px;
}

#titre-boutique:hover {
    color: red;
}


p {
    text-align: justify;
}

ul,
ol {
    text-align: left;
}


div {
    width: 80%;
    margin: auto;
    text-align: center;
}


#liste {
    list-style-type: none;
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: left;
}


img {
    border-radius: 15px;
}


table {
    width: 320px;
    margin: 0 auto;
    border-collapse: collapse;
    border: none;
}

table th,
table td {
    border: none;
}

caption {
    margin: 10px 0;
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;
}

.colonne4 {
    padding: 10px;
}


#cgu {
    color: black;
}

#cgu a {
    color: black;
    text-decoration: none;
}

#cgu a:hover {
    background-color: lightblue;
    border-radius: 3px;
    padding: 2px;
}

button {
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 12px;
    background-color: lightblue;
    font-size: 14px;
    font-weight: bold;
}

button:hover {
    background-color: lightgreen;
}
